@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #191919;
  --secondary-color: #474747;
  --white-color: #ffffff;
  --purple-color: #6a0bff;
}
