@import "@app/styles/vars.scss";

.footer {
  background-color: #18003e;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .container_footer {
    padding-top: 35px;
    padding-bottom: 17px;
    @include flex(flex, column, space-between, start);
    .logo {
      margin-bottom: 37px;
    }
    .description {
      @include font(16px, 400, 127%);
      margin-bottom: 35px;
      color: var(--white-color);
      .descrption__goal {
        margin-bottom: 16px;
      }
      .descrption__text {
        color: #8c8c8c;
        @include font(12px, 400, 127%);
      }
    }
    hr {
      border: none;
      height: 1px;
      background-color: #e6e6e61a;
      width: 100%;
      margin-bottom: 14px;
    }
    .socialLinks {
      width: 100%;
      color: #8c8c8c;
      @include font(14px, 400, 127%);
      @include flex(flex, row, space-between, center);
      .linksWrapper {
        @include flex(flex, row, space-between, center);
        gap: 8px;
        .links {
          @include flex(flex, row, space-between, center);
          gap: 8px;
          list-style: none;
        }
      }
    }
  }
}
