@import "@app/styles/vars.scss";

.header {
  background-color: var(--white-color);
  .container_header {
    padding-top: 8px;
    padding-bottom: 8px;
    @include flex(flex, row, space-between, center);
    .nav {
      @include flex(flex, row, start, center);
      .logo {
        a {
          width: 172px;
          @include flex(flex, row, start, center);
          .logo-image {
            margin-right: 10px;
          }
        }
      }
      .nav-list {
        @include flex(flex, row, start, center);
        gap: 20px;
        .nav-item {
          list-style: none;
          .navlink {
            @include font(16px, 500, 140%);
            color: var(--primary-color);
          }
          .navlink.active {
            color: var(--purple-color);
            text-decoration: underline;
            border: none;
          }
        }
      }
    }
  }
}
