@import "@app/styles/vars.scss";

.emptyBlock {
  height: 72px;
  border-radius: 8px;
  width: 100%;
  background-color: #f8f8f8;
  animation: pulseColor 1s infinite alternate ease-in-out;
}
@keyframes pulseColor {
  0% {
    background-color: #f8f8f8;
  }
  100% {
    background-color: #d0d0d0;
  }
}
