@import "@app/styles/vars.scss";

.links {
  @include flex(flex, row, start, center);
  gap: 26px;
  .link--white {
    background-color: transparent;
    color: var(--purple-color);
    @include font(16px, 600, 110%);
  }
  .link--purple {
    @include flex(flex, row, center, center);
    width: 170px;
    height: 48px;
    background-color: var(--purple-color);
    color: var(--white-color);
    @include font(18px, 500, 100%);
    border-radius: 12px;
  }
}
