@import "@app/styles/vars.scss";

.filters {
  @include flex(flex, row, start, start);
  gap: 8px;
  flex-wrap: wrap;
  .showAllButtons {
    @include font(14px, 400, 100%);
    color: #5509cc;
    border: none;
    background-color: transparent;
    width: 100%;
    @include flex(flex, row, start, start);
    &:hover {
      text-decoration: underline;
    }
  }
}
